<app-header></app-header>
<div class="container p-4">
    <div class="row">
        <ng-container *ngIf="!isLoading">
            <table id="example" style="width:100%" datatable="ng" [dtOptions]="dtOptions" >
                <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Eamil</th>
                        <th>Gender</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of data, index as i">
                        <ng-container *ngIf="!isLoading">
                            <td>{{i+1}}</td>
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.gender}}</td>
                            <td>
                                {{user.status}}
                            </td>
                        </ng-container>
                        <ng-container *ngIf="isLoading">
                            <div class="spinner-border m-5 mx-auto" role="status">
                                <span class="sr-only text-center"></span>
                            </div>
                        </ng-container>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>S.N.</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Eamil</th>
                        <th>Gender</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
        </ng-container>
        <ng-container *ngIf="isLoading">
            <div class="spinner-grow" role="status">
                <span class="sr-only"></span>
            </div>
        </ng-container>
        <br>
    </div>
</div>